.bigContainer {
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 100px;
    margin-bottom: 50px;
    color: #666666;
    width: 80%;
    scroll-behavior: smooth;
}

.nav {
    display: flex;
    margin-bottom: 50px;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    background-color: white;
    /* margin-bottom: 10px; */
    /* margin-bottom: 50px; */
}

.breakfastMenu>h3 {
    font-weight: bold;
    font-size: 30px;
    margin-top: 80px;
}

.childNav {
    padding: 20px 0;
    display: flex;
}

.childNav>h3 {
    font-size: 18px;
    /* margin-bottom: 40px; */
}

.childNav>h3>a {
    text-decoration: none;
    color: #666666;
}

.childNav>h4 {
    font-size: 18px;
    margin-left: 25px;
}

.childNav>h4>a {
    text-decoration: none;
    color: #666666;
}

.entreeMenu>h3 {
    font-weight: bold;
    font-size: 30px;
}

.cardWrap {
    display: flex;
    flex-wrap: wrap;
}

.menuItem {
    margin: 0 10px;
    display: flex;
    width: 380px;
    height: 180px;
    /* height: 170px; */
    border-radius: 6px;
    box-shadow: 2px 2px 15px 5px #eeecec;
    margin-top: 30px;
}

.dishImage {
    width: 350px;
    overflow: hidden;
}

.dishImage>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.dishDesc {
    padding-right: 10px;
    /* padding-bottom: 10px; */
    width: 500px;
    margin-left: 10px;
    margin-top: 10px;
}

.dishDesc>h5 {
    font-size: 15px;
    font-weight: bold;
}

.dishDesc>h6 {
    height: 36px;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    margin-top: -7px;
    font-size: 14px;
}

.calories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 18px;
}

.calories>h2 {
    font-size: 16px;
}

.icon {
    color: white;
    height: 15px;
    width: 15px;
}

.iconBox {
    padding: 9px 18px;
    background-color: #43b3ae;
    border-radius: 7px;
}


/* //////Modal///// */

.modalInnerContainer {
    display: flex;
}

.modalImage {
    height: 500px;
    width: 1800px;
}

.modalData {
    overflow: scroll;
    overflow-x: hidden;
    height: 500px;
    color: #616161;
    margin-left: 20px;
    width: 2200px;
    /* margin-top: 10px; */
}

.modalData::-webkit-scrollbar {
    width: 5px;
}

.modalData::-webkit-scrollbar-thumb {
    background: rgb(196, 196, 196);
}

.modalData::-webkit-scrollbar-track {
    background: #747474;
}

.modalImage {
    height: 500px;
    width: 1800px;
}

.modalImage>img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.modalFirst>h3 {
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}

.modalFirst>p {
    font-size: 16px;
    margin-bottom: 2px;
    margin-top: 12px;
}

.modalFirst>span {
    font-weight: bold;
    font-size: 14px;
    padding: 2px 8px;
    border-radius: 10px;
    background-color: rgb(61, 61, 255);
    color: white;
}

.modalSecond {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.modalSecond>h4 {
    font-size: 16px;
    font-weight: bold;
}

.regular {
    background-color: #bebebe;
    color: white;
    border-radius: 10px;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 10px;
    margin-top: 10px;
}

.modalQty {
    display: flex;
    text-align: center;
    border: 1px solid #43b3ae;
    height: 29px;
    border-radius: 3px;
    margin-top: 3px;
}

.inputGroup {
    margin-top: 5px;
}

.formControl {
    width: 30px;
    text-align: center;
    outline: none;
    /* border-color: #43b3ae; */
    border: 1px solid #43b3ae;
}

.numBtn {
    border: 1px solid #43b3ae;
    width: 25px;
    border-radius: 5px;
}

.modalOrder {
    margin-top: 20px;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 15px;
    background-color: #43b3ae;
    color: white;
    border-radius: 5px;
}

.modalTotalCalories {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    /* text-align: center; */
    width: 100%;
    height: 35px;
    background-color: #dddddd;
    margin-top: 28px;
}

.modalTotalCalories>h6 {
    font-size: 17px;
    margin-top: 6px;
    padding-left: 5px;
}

.fireCalories {
    display: flex;
    margin-top: 2px;
}

.fireCalories>span {
    font-weight: bold;
    margin-right: 2px;
}

.fireIcon {
    width: 18px;
    height: 18px;
    margin-top: 4px;
    margin-right: 2px;
}

.modalCal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    max-width: 450px;
    flex-wrap: wrap;
    /* width: 400px; */
}

.modalCalDesc {
    width: 80px;
    margin-right: 10px;
    /* align-items: center; */
    padding-top: 10px;
    /* text-align: center; */
    /* align-items: center; */
}

.modalCalDesc>h5 {
    font-weight: bold;
    font-size: 14px;
}

.modalCalDesc>p {
    margin-top: -6px;
    font-size: 10px;
}

.modalFourth>h2 {
    font-size: 16px;
    font-weight: bold;
}

.belowBottom {
    border-bottom: 1px solid rgb(207, 207, 207);
    margin-top: 15px;
}

@media screen and (max-width: 600px) {
    .menuItem {
        padding: 10px;
    }
}