.greenBg {
    background-color: #43b3ae;
}

.midContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.midContent {
    display: flex;
    width: 100%;
    justify-content: center;
}

.insideContainer {
    display: flex;
    width: 85%;
    justify-content: space-between;
}

.leftSection {
    width: 100%;
    margin-bottom: 30px;
}

.leftSection>.cards>.card {
    margin: 70px 0;
}

.leftSection>.cards>.card>.heading {
    position: relative;
    z-index: -1;
    margin-bottom: 30px;
}

.leftSection>.cards>.card>.heading::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 13%;
    background-color: #43b3ae;
    z-index: 10;
}

.leftSection>.cards>.card>.heading>h3 {
    color: rgb(65, 65, 65);
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    padding: 10px 0;
}

.leftSection>.cards>.card>.monthWrapper {
    display: flex;
    width: 80%;
    flex-direction: column;
}

.leftSection>.cards>.card>.monthWrapper>.buttonMonth {
    padding-left: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.leftSection>.cards>.card>.monthWrapper>.buttonMonth>h5 {
    font-size: 18px;
    padding-left: 10px;
    border-left: 1px solid gray;
}

.leftSection>.cards>.card>.monthWrapper>.buttonsGroup2 {
    display: flex;
}

.leftSection>.cards>.card>.monthWrapper>.buttonsGroup2>.button2 {
    cursor: pointer;
    text-align: center;
    width: 25%;
    padding: 15px 17px;
    padding-top: 5px;
    border: 2px solid #e2e4e0;
    color: #cecbcb;
    border-radius: 10px;
    margin: 0 5px;
}

.leftSection>.cards>.card>.monthWrapper>.buttonsGroup2>.button2:hover {
    border: 2px solid #43b3ae;
    color: #43b3ae;
}

.leftSection>.cards>.card>.monthWrapper>.buttonsGroup2>.button2>h4 {
    margin-bottom: 0;
    font-size: 19px;
    font-weight: 400;
}

.leftSection>.cards>.card>.monthWrapper>.buttonsGroup2>.button2>h2 {
    margin-top: -8px;
    margin-bottom: 0;
    font-size: 39px;
    font-weight: 900;
}

.leftSection>.cards>.card>.buttonsGroup>.button {
    color: gray;
    display: inline-block;
    padding: 15px 25px;
    font-size: 13px;
    margin: 5px 5px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: 'avenirRegular', sans-serif;
    font-weight: 600;
    border: 1px solid gray;
    border-radius: 7px;
    white-space: nowrap;
    transition: 0.2s ease-in;
}

.leftSection>.cards>.card>.buttonsGroup>.button:hover {
    color: #43b3ae;
    border: 1px solid #43b3ae;
    transform: translateY(-10px);
    box-shadow: 1px 3px 4px grey;
}

.leftSection>.cards>.card>.buttonsGroup {
    display: flex;
    flex-wrap: wrap;
}

.leftSection>.cards>.card>.desc {
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.midContainer>.buttonWrapper>.leftButtonGroup {
    width: 85%;
    display: flex;
    align-items: center;
}

.midContainer>.buttonWrapper>.leftButtonGroup>.button {
    color: #fff;
    display: flex;
    align-items: center;
    padding: 15px 25px;
    font-size: 17px;
    margin: 5px 5px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: 'avenirRegular', sans-serif;
    font-weight: 500;
    border-radius: 7px;
    white-space: nowrap;
    background-color: #43b3ae;
}

.rightSection {
    width: 48%;
    margin-left: 30px;
}

.rightSection>.rightInnerContainer {
    border-radius: 15px;
    padding-top: 50px;
    top: 85px;
    position: sticky;
    box-shadow: 0px 2px 10px 1px rgb(223, 223, 223);
}

.rightSection>.rightInnerContainer>.overView {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 33px;
}

.rightSection>.rightInnerContainer>.overViewItem {
    padding: 10px 30px;
}

.rightSection>.rightInnerContainer>.overViewItem>div {
    list-style: none;
    justify-content: space-between;
    display: flex;
    padding: 8px 20px;
    padding-top: 10px;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.1);
}

.rightSection>.rightInnerContainer>.overViewItem>div>li {
    font-size: 15px;
    font-weight: 300;
}

.rightSection>.rightInnerContainer>.overViewItem>div>h3 {
    max-width: 200px;
    text-align: end;
    line-height: 2;
    font-weight: 900;
    font-size: 17px;
}

.rightSection>.rightInnerContainer>.overView>.overViewContent {
    display: flex;
    position: relative;
    padding: 10px 15px;
    font-size: 22px;
    margin: 5px 5px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: 'avenirRegular', sans-serif;
    font-weight: 600;
    white-space: nowrap;
    z-index: -1;
}

.rightSection>.rightInnerContainer>.overView>.overViewContent::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 80%;
    bottom: 0;
    background-color: #43b3ae;
    z-index: 10;
}

.rightSection>.rightInnerContainer>.overView>.overViewButton {
    color: #fff;
    display: inline-block;
    padding: 10px 30px;
    font-size: 13px;
    margin: 5px 5px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: 'avenirRegular', sans-serif;
    font-weight: 600;
    border-radius: 7px;
    background-color: #43b3ae;
    white-space: nowrap;
}

.rightSection>.rightInnerContainer>.bottom {
    background-color: #43b3ae;
    color: #fff;
    padding: 15px 20px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.rightSection>.rightInnerContainer>.bottom>h4 {
    font-size: 18px;
    font-weight: 900;
}

.inputContainer {
    height: 80px;
    display: flex;
    justify-content: center;
    margin: 60px 0;
    width: 100%;
}

.input {
    position: relative;
    height: 80px;
    width: 80%;
}

.inputInside {
    border-radius: 10px;
    background-color: rgba(215, 217, 217, 0.5);
    border: 0px;
    z-index: 10;
    border-radius: 10px;
}

.inputIcon {
    position: absolute;
    padding-top: 29px;
    padding-left: 20px;
    top: 0;
    left: 0;
    bottom: 0;
    /* right: 0; */
    width: 60px;
}

@media screen and (max-width: 1080px) {
    .insideContainer {
        flex-direction: column;
    }
    .rightSection {
        margin-left: 0;
        width: 100%;
    }
    .midContainer>.buttonWrapper>.leftButtonGroup {
        flex-direction: column;
    }
    .midContainer>.buttonWrapper>.leftButtonGroup>.button {
        width: 100%;
    }
    .leftSection>.cards>.card>.monthWrapper {
        min-width: 30%;
        overflow-x: scroll;
    }
}