.container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #43b3ae;
    color: #fff;
    height: 100px;
}

.innerContainer {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.innerContainer > .heading{
    padding-top: 10px;
}
.innerContainer > .heading > h1{
    font-weight: 400;
}

.button {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: #243843;
    margin: 12px 0;
    width: 40vh;
    height: 9vh;
    padding: 38px 0;
    border-radius: 10px;
    transition: 0.3s ease-in;
}

.button:hover{
    background-color: #455f6e;
}
.buttonText {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
}

.buttonText > .icon{
    padding-bottom: 30px;
}

.buttonText > h2 {
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}