.container {
    display: flex;
    height: 28rem;
    margin: 10px;
    margin-bottom: 80px;
    margin-top: -45px;
    /* height: 100vh; */
}

.image {
    height: 800px;
    width: 1300px;
    margin-top: 30px;
}

.image>img {
    object-fit: contain;
    width: 100%;
}

.card {
    padding: 20px;
    margin-left: 180px;
    height: 26rem;
    padding-top: 40px;
    box-shadow: 2px 2px 15px 5px #eeecec;
    border-radius: 4px;
}

.card>h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 98%;
}

.card>p {
    font-size: 17px;
    margin-top: 15px;
}

.card>button {
    background-color: #8ed444;
    padding: 12px 46px;
    color: white;
    font-size: 14px;
    border-radius: 3px;
    margin-top: 10px;
}