

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    background-image: url('../../../public//onlineMenuBgImg.jpg');
    object-fit: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}


.innerContainer{
    width: 95%;
    display: flex;
    padding: 10px 0;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    margin: 100px 10px;
}

.heading {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 100px;
}

.heading > h1 {
    margin-top: 20px;
    line-height: 100px;
    font-weight: 400;
    font-size: 66px;
    color: #000000;
}

.heading > h2 {
    font-weight: 400;
    color: #484848;
    font-size: 25px;
}

.leftImage {
    width: 35%;
    background-image: url('https://cleancreations.com/data/meals/251.jpg?md=272ee44ac6e0f0904a5a41adc74bfb66');
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.cardsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 55vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.cards::-webkit-scrollbar {
    width: 0.6em;
}

.cards::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.123);
}

.cards::-webkit-scrollbar-thumb {
      border-radius: 15px;
    background-color: rgb(196, 195, 195);
    /* outline: 1px solid slategrey; */
  }

.card {
    min-width: 350px;
    border-radius: 10px;
    display: flex;
    height: 180px;
    width: 30%;
    margin: 18px 12px;
    box-shadow: 8px 8px 20px 1px rgb(197, 197, 197); 

}

.cardDescription {
    width: 240px;
}

.menuTitle{
    font-size: 15px;
    position: relative;
    top: 10px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 8px;
}

.menuDescription {
    font-size: 1em;
    position: relative;
    line-height: 1.2;
    overflow: hidden;
    padding-right: 40px;
    padding-left: 8px;
}

.rightContent {
    width: 65%;
    position: relative;
}

.calories {
    font-size: 0.875em;
    line-height: normal;
    bottom: 0;
    position: absolute;
    right: 15px;
}

.calories >p {
    color: #484848;
    line-height: 1.5;
    font-size: 18px;
    font-weight: 300;
}

.calories > p > b {
    font-size: 20px;
    font-weight: 500;
}

.buttonWrapper {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin: 100px 0;
}

.button {
    display: flex;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 350px;
    background-color: #8ed444;
}

.button > a {
    font-size: 20px;
    text-transform: uppercase;
    border-radius: 3px;
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width: 960px) {
    .cardsSection {
        flex-direction: column;
    }
}