
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.first {
    background-color: #43b3ae;
    color: white;
    padding: 30px 30px;
}

.first>h2 {
    font-family: 'Dancing Script', cursive;
    text-align: center; 
    color: #ffffff;
    font-weight: 400;
    font-size: 52px;
}

.second {
    text-align: center;
    background-color: #ff7e30;
    color: white;
    padding: 12px 12px;
}

.second>h4 {
    font-size: 19px;
}

.second>h5 {
    font-size: 19px;
}

@media screen and (max-width: 900px) {
    .first>h2 {
        font-size: 25px;
    }
    .second>h4 {
        font-size: 12px;
    }
    .second>h5 {
        font-size: 12px;
    }
}